<div class="stock-inventory">
  <h1 class="primary">Stock Inventory</h1>

  <div class="lists">
    <ng-container *ngIf="!(user$ | async)?.is_admin">
      <div class="row">
        <h4 class="primary">PIN Coffee</h4>
        <h4 class="primary">
          {{ (user$ | async)?.pin_stock_coffee || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">PIN Soap</h4>
        <h4 class="primary">
          {{ (user$ | async)?.pin_stock_soap || 0 }}
        </h4>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <h4 class="primary">Coffee</h4>
        <h4 class="primary"></h4>
      </div>

      <div class="row">
        <h4 class="primary">Set of B1T1</h4>
        <h4 class="primary">
          {{ b1t1SetConverter((user$ | async)?.stock_coffee_b1t1) || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Set of B2T3</h4>
        <h4 class="primary">
          {{ b2t3SetConverter((user$ | async)?.stock_coffee_b2t3) || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Total B1T1</h4>
        <h4 class="primary">
          {{ (user$ | async)?.stock_coffee_b1t1 || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Total B2T3</h4>
        <h4 class="primary">
          {{ (user$ | async)?.stock_coffee_b2t3 || 0 }}
        </h4>
      </div>

      <mat-divider></mat-divider>

      <div class="row">
        <h4 class="primary">Soap</h4>
        <h4 class="primary"></h4>
      </div>

      <div class="row">
        <h4 class="primary">Set of B1T1</h4>
        <h4 class="primary">
          {{ b1t1SetConverter((user$ | async)?.stock_soap_b1t1) || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Set of B2T3</h4>
        <h4 class="primary">
          {{ b2t3SetConverter((user$ | async)?.stock_soap_b2t3) || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Total B1T1</h4>
        <h4 class="primary">
          {{ (user$ | async)?.stock_soap_b1t1 || 0 }}
        </h4>
      </div>

      <div class="row">
        <h4 class="primary">Total B2T3</h4>
        <h4 class="primary">
          {{ (user$ | async)?.stock_soap_b2t3 || 0 }}
        </h4>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <div class="row">
      <h4 class="primary">Total Coffee</h4>
      <h4 class="primary">
        {{ (user$ | async)?.stock_coffee || 0 }}
      </h4>
    </div>

    <div class="row">
      <h4 class="primary">Total Soap</h4>
      <h4 class="primary">
        {{ (user$ | async)?.stock_soap || 0 }}
      </h4>
    </div>

    <form
      *ngIf="(user$ | async)?.is_admin"
      [formGroup]="form"
      (ngSubmit)="restock()"
    >
      <h1>Re-Stock Inventory</h1>

      <div class="lists">
        <div class="amount">
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Restock Coffee</mat-label>
              <input matInput type="number" formControlName="restock_coffee" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Restock Soap</mat-label>
              <input matInput type="number" formControlName="restock_soap" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Confirm</button>
    </form>
  </div>
</div>
