<section>
  <div class="receipt">
    <h1 class="title">
      ₱ {{ (user$ | async)?.unpaid_income | number: "1.2-2" || 0 }}
    </h1>
    <div class="row">
      <div class="name">
        <h5>Cashout</h5>
      </div>

      <div class="total">
        <ng-container *ngIf="form.get('amount')?.value">
          <h5>₱ {{ form.get("amount")?.value | number: "1.2-2" }}</h5>
        </ng-container>
        <ng-container *ngIf="!form.get('amount')?.value">
          <h5>₱ 0</h5>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="name">
        <h5>Charge</h5>
      </div>

      <div class="total">
        <h5>₱ {{ withdrawalCharge | number: "1.2-2" }}</h5>
      </div>
    </div>

    <mat-divider style="margin-bottom: 6px"></mat-divider>

    <div class="row">
      <div class="name">
        <h5>TOTAL</h5>
      </div>

      <div class="total">
        <ng-container *ngIf="form.get('amount')?.value">
          <h5>
            ₱
            {{ form.get("amount")?.value + withdrawalCharge | number: "1.2-2" }}
          </h5>
        </ng-container>

        <ng-container *ngIf="!form.get('amount')?.value">
          <h5>₱ 0</h5>
        </ng-container>
      </div>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="cashout()">
    <div mat-dialog-content>
      <mat-form-field class="amount">
        <mat-label>Enter the amount you want to cashout</mat-label>
        <input
          matInput
          placeholder="Ex. 700"
          type="number"
          formControlName="amount"
          [errorStateMatcher]="matcher"
        />

        <mat-error *ngIf="form.get('amount')?.hasError('amountExceed')">
          ₱ 100 to ₱
          {{ getLimitWithdrawal(user$ | async) | number: "1.2-2" }}
        </mat-error>
      </mat-form-field>

      <mat-radio-group
        aria-label="Select an option"
        class="mode_of_withdrawl"
        formControlName="mode_of_withdrawal"
      >
        <mat-radio-button value="gcash">G-Cash</mat-radio-button>
        <mat-radio-button value="atm">ATM</mat-radio-button>
        <mat-radio-button value="check">Check</mat-radio-button>
        <mat-radio-button value="cash">Cash</mat-radio-button>
      </mat-radio-group>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button
        mat-button
        mat-dialog-close
        type="submit"
        [disabled]="form.invalid"
      >
        Cashout
      </button>
    </div>
  </form>
</section>
