@import 'responsive'
@import 'variable'

.income-history
  padding: 15px

  .legend
    padding: 0 10px 5px 10px

    h1
      color: $primaryColor
      font-weight: bold



  @include media('<=lg')
    padding-top: 65px

.income
  text-align: end
  padding: 10px

.note
  font-weight: bold
  margin-top: 10px

.primary
  font-weight: bold
  color: $primaryColor

.charge, .first
  font-weight: bold

.charge
  color: darkred

.income
  color: $primaryColor

.result
  font-weight: bold
  color: green
  font-size: 1.2rem

table
  width: 100%


h1
  font-weight: 500
  font-size: 1.5rem

h2
  font-weight: 400
  font-size: 1rem

ul
  margin-top: 10px
  li
    margin-bottom: 10px
    font-weight: 500
    font-size: 1rem

span
  color: $primaryColor

